[submodule "libraries/NopSCADlib"]
	path = libraries/NopSCADlib
	url = https://github.com/nophead/NopSCADlib.git
[submodule "cross-table/electronic/KiCad-RP-Pico"]
	path = libraries/KiCad-RP-Pico
	url = git@github.com:cclienti/KiCad-RP-Pico.git
[submodule "libraries/pico-sdk"]
	path = libraries/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "cross-table/firmware/FatFs_SPI"]
	path = cross-table/firmware/FatFs_SPI
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
